@model PersonListViewModel
<div>
    <table class="table table-striped">
        <thead class="thead-red">
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Date birthday</th>
                <th scope="col">Category</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
                foreach (var person in Model.allPersons)
                {
                    string dayStr, monthStr, classTr;
                    dayStr = (person.DayBirth < 10) ? "0" + person.DayBirth : Convert.ToString(person.DayBirth);
                    monthStr = (person.MonthBirth < 10) ? "0" + person.MonthBirth : Convert.ToString(person.MonthBirth);
                    if (person.MonthBirth == NowDate.nowMonth && person.DayBirth == NowDate.nowDay)
                    {
                        classTr = "bg-success";
                    }
                    else
                    {
                        classTr = ((person.MonthBirth == NowDate.nowMonth && person.DayBirth < NowDate.nowDay) || (person.MonthBirth < NowDate.nowMonth)) ? "bg-danger" : "";
                    }
                    <tr class=@classTr>
                        <th scope="row">@i</th>
                        <td>@person.Id</td>
                        <td>@person.Name</td>
                        <td>@dayStr.@monthStr</td>
                        <td>@person.Category</td>
                        <td class="action-td"><a href="" class="table-button">Update</a></td>
                        <td class="action-td"><a href="~/AllBirthdays/Delete/@person.Id" class="table-button">Delete</a></td>
                    </tr>
                    i++;
                }
            }
        </tbody>
    </table>
</div>
<div class="place-buttons">
    <a href="/Create/Index" class="action-button">Create</a>
</div>
